.codigo {
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: orange;
  color: black;
  width: 30%;
  height: auto;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 0 5px #fa700a;
  padding: 15px;
  font-weight: bolder;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .codigo {
    width: 50%;
    font-size: 16px;
  }
}
