.contenedor {
  position: fixed;
  top: 50%;
  left: 0px;
}
.blue {
  display: block;
  margin: 1px;
  background-color: blue;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.yellow {
  display: block;
  margin: 1px;
  background-color: yellow;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}
.green {
  display: block;
  margin: 1px;
  background-color: green;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}
.activo {
  border: 2px solid pink;
  width: 30px;
  height: 30px;
}
