html > * {
  margin: 0;
  padding: 0;
}
.cuatrimestre {
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 25px;
}
.container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  font-family: Arial;
  text-align: center;
}
.materias {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
  margin: 0 10px 0 10px;
  text-align: center;

  width: 25%;
  margin: 5px;
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;

  background-color: #364b65;
  color: white;
}
.nombre {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
}
.active {
  border: 3px #f9b71c solid;
  box-shadow: 3px #f9b71c;
  z-index: 999999;
}

.blue.materias {
  background-color: #31a7ee;
  cursor: pointer;
}

.pink.materias {
  background-color: #ff0080;

  cursor: pointer;
}
.green.materias {
  background-color: #9ab04f;

  cursor: pointer;
}
.orange.materias {
  background-color: orange;

  cursor: pointer;
}
.default.materias {
  background-color: #364b65;

  cursor: pointer;
}
.seleccionado:after {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 99999;

  background-color: rgba(0, 0, 0, 0.3);
}
.seleccionado {
  padding-bottom: 50px;
}
.desactivo {
  z-index: 999999;
  opacity: 0.2;
}
.requisito {
  border: 3px blue solid;
  box-shadow: 3px blue;
  z-index: 999999;
  opacity: 0.8;
}
